<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InvoiceTOP v1.0</title>
    <!--<link rel="stylesheet" href="css/styles.css">-->
    <link rel="license" href="http://www.opensource.org/licenses/mit-license/">
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/angularjs-gauge.min.js"></script>
  <script src="js/vendor/moment.js"></script>
  <script src="js/vendor/angular-momentjs.min.js"></script> 
  <script src="js/vendor/Chart.min.js"></script>
  <script src="js/vendor/angular-chart.min.js"></script>
  <script src="js/vendor/angular-user-settings.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles1.css">



  </head>
 

  <body ng-app="invoiceapp" ng-controller="InvoiceCtrl" style="margin-top:25px; ">
    <div>
      Seq Gen:
      <input type="text" name="seqgen" ng-model="program" style='width:500px;' required>  
      <button ng-click="onClick()" >Run</button>
    </div>
    <div class="container">

    <div class="row guage_header">
      <div  ng-model="speed" class="col-xs-6">
          <h2>
            <span class="package__name___dAyWc truncate flex-auto" title="pretty">CPU Speed</span></h2>
        <ng-gauge id="speedmeter" duration="100" size="200" type="arch" thick="10" min="0" max="160" value=speed  cap="round" label="Freq"  foreground-color="{{color}}" background-color="rgba(0, 0, 0, 0.1)" append="Ke/sec" thresholds="threshold" fraction-size="1"></ng-gauge>     
      </div>
      <div  ng-model="speed_fpga" class="col-xs-6">
          <h2>
            <span class="package__name___dAyWc truncate flex-auto" title="pretty">FPGA Speed</span></h2>
           <ng-gauge id="speedmeter_fpga" duration="100" size="200" type="arch" thick="10" min="0" max="160" value=speed_fpga  cap="round" label="Freq"  foreground-color="{{color}}" background-color="rgba(0, 0, 0, 0.1)" append="Ke/sec" thresholds="threshold" fraction-size="1"></ng-gauge>    
      </div>
    </div>
    <div>
        <canvas id="line" class="chart chart-line" chart-data="data"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride1" chart-click="onClick">
    </canvas>
    </div>
    </div>
  </body>


</html>
